<?xml version='1.0' encoding='utf-8'?>
<widget id="io.enzofagundz.freela" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Freela</name>
    <description>
        Um aplicativo que permite freelancers se organizarem melhor.
    </description>
    <author email="enzo.fagundes@outlook.com.br" href="https://enzofagundz.netlify.app/">
        enzofagundz team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <!-- <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi" />
        <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi" />
        <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi" />
        <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi" />
        <splash src="res/screen/android/splash-port-xxhdpi.png" density="port-xxhdpi" />
        <splash src="res/screen/android/splash-port-xxxhdpi.png" density="port-xxxhdpi" />  -->
        <icon src="res/screen/ldpi.png" density="ldpi" />
        <icon src="res/screen/mdpi.png" density="mdpi" />
        <icon src="res/screen/hdpi.png" density="hdpi" />
        <icon src="res/screen/xhdpi.png" density="xhdpi" />
        <icon src="res/screen/xxhdpi.png" density="xxhdpi" />
        <icon src="res/screen/xxxhdpi.png" density="xxxhdpi" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="browser">
        <preference name="SplashScreen" value="www/img/logo.png" />
        <preference name="SplashScreenBackgroundColor" value="#2B63D4" />
    </platform>
</widget>
